<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.arulnadhan.bubbles">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <service android:name="me.arulnadhan.bubbles.BubblesService"
            android:enabled="true"
            android:exported="false" />

    </application>
</manifest>
